
* {margin: 0; padding: 0;}

p {line-height: 160%;}

a {text-decoration: none; color: #fff; }
img {border: 0;}

body {
	background: #fff;
	color: #fff;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 13px;
	font-weight: 300;
}

.clear {clear: both;}


.separator {
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.2);
	width: 30px;
	height: 5px;
}


#tenure {
	padding: 60px 0;
	background: black;
	text-align: center;
}

#tenure p {
	padding: 20px 0 60px;
	color: rgba(255,255,255, 0.85);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: 0.2px;
}

#tenure h3 {
	padding: 0 0 14px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 38px;
 color: rgb(255,0,255);
	text-transform: uppercase;
	font-style: normal;
}

#tenure h4  {
	margin-top: -18px;
	font-size: 22px;
	font-weight: 700;
}

#tenure h4 span {
	display: block;
	position: relative;
	left: -40px;
	top: 5px;
	font-size: 20px;
	background: none;
	padding: 0;
}

#tenure img {
	width: 100%;
	max-width: 240px;
	border-radius: 50%;
	border: 15px solid transparent;
	box-shadow: 2px 2px 0px rgb(255,0,255);

}

#tenure span {
	padding: 8px 20px;
	position: relative;
	top: -64px;
	left: -42px;
	display: inline-block;
	background: rgb(255,0,255);
	border-radius: 0 16px 16px 0;
	font-size: 16px;
}


	#tenure img {max-width: 300px;}

}
