body{
   font-family: Consolas, monospace;
  margin: 0;
  padding: 0;
  background-color:#000;
}
.bos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    padding: 0%;
    margin: 0%;
}

header h1 {
    position: absolute;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: calc(20px + 5vw);
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em #1da9cc;
    white-space: nowrap;  
}


header h1::before,h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
}

.fixed-header{
    width: 100%;
    position: fixed;        
    background-color: #ff00bf;
    background-image: linear-gradient(to right,#ff33bb, #b366ff );
    padding: 10px 0;
    color: #fff;
    z-index: 10;
}
.fixed-header{
    top: 0;
}
.container{
    width: 100%;
    margin: 0 auto;
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
.grid {
    margin-left: auto;
    margin-right: auto;
    max-width: 48em;
    width: 90%;
  }
  .sticky {
    position: sticky;
    will-change: transform;
  }
  .sticky--top {
    top: 0;
  }
  * {
    box-sizing: inherit;
  }
  html {
    box-sizing: border-box;
    height: 100%;
  }
  .header {
    font-family: 'Roboto', sans-serif;
    line-height: 0.5;
    margin: 0;
    min-height: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
  }
    .header::after {
  bottom: 0;
  box-shadow: 0 0.0625em 0.5em rgba(185, 184, 184, 0.3);
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s;
}

.header.is-active::after {
    opacity: 1;
  }
  .navigation a {
    color: inherit;
    display: block;
    text-decoration: none;
  }
  
  .navigation .is-active {
    background-color: #000;
    color: #fff;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 999px;
  }
  
  .navigation__list {
    list-style: none;
    margin: -0.5em;
    padding: 0;
  }
  
  .navigation__list--inline {
    display: flex;
  }
  
  .navigation__item {
    margin: 0.5em;
  }
  .sent{
    font-family: 'PT Sans Narrow', monospace;
    position: relative;
    text-align: center;
        padding: 10px;
        margin: auto;
        width: 700px;
        height: auto;
        border-radius: 40px;
        box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
        cursor: pointer;
        transition: 0.7s;
        background-color: #fff;
      }
      .raise:hover,
      .raise:focus {
        box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
        transform: translateY(-0.25em);
      }

.container h1{
  color: white;
  width: auto;
  background-color: black;
  height: 10 vh; 
  margin-left: auto;
  margin-right: auto;
} 
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;  
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
float: left;
}
.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}
.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}
.card .card_image a {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
    color: white;
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}
.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}
.car1{
  text-align: center;
  padding: 10px;
  margin: 30px auto;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  width: 50%;
  background-color: #646464;
  border-radius: 10%;
  transition: 0.7s;
}

.row{
   font-family: Consolas, monospace; 
  background-color: #000;
  background-image: linear-gradient(to center,#535353, #272629 );
  display: flex;
  justify-content: space-between;  
}
.svg-wrapper {
  position: relative;

  padding : 25px;
	margin: 0 auto;
  width: 520px;  
}
.shape {
  stroke-dasharray: 0 580;
  stroke-dashoffset: 580;
  stroke-width: 4px;
  fill: transparent;
  stroke: #fefefe;
  border-bottom: 5px solid black;
  transition: stroke-width 2.7s, stroke-dashoffset 2.7s, stroke-dasharray 1.3s;
  transition-delay: 0s;
  fill: rgb(20,20,20);  
}
.text {
 font-family: 'Press Start 2P', monospace;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
  text-align: center;
  height: 10px;
  width: 520px;
  font-variant: small-caps;
}
.shape-border {
  stroke-width: 4px;
  stroke-dashoffset: 0;
  stroke-dasharray: 480 100;
}
.wrap {
  position: relative; 
  padding-top: 10;
}

* {
  box-sizing: border-box;
}

html, body {  
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}



/* .svg-wrapper {
  position: relative;
  padding-top: 10%;
  top: 50%;
  transform: translateY(-50%);
	margin: 0 auto;
  width: 520px;  
  text-align: center;
} */

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .80);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: .64s ease-in-out;
}
  .popup-inner {
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    align-items: center;
    max-width: 800px;
    max-height: 600px;
    width: 60%;
    height: 80%;
    background-color: #fff;
    transform: rotate(32deg);
    transition: .64s ease-in-out;
  }
  .popup__photo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 40%;
    height: 100%;
    overflow: hidden;
  }
    .popup__photo img {
      width: auto;
      height: 100%;
    }

  .popup__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 4rem;
  }
  .popup__text h1 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 2rem;
      text-transform: uppercase;
      color: #0A0A0A;
    }
    .popup__text p {
      font-size: .875rem;
      color: #686868;
      line-height: 1.5;
    }

  .popup:target {
    visibility: visible;
    opacity: 1;
  }
    .popup-inner {
      bottom: 0;
      right: 0;
      transform: rotate(0);
    }

  .popup__close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: .875rem;
    font-weight: 300;
    border-radius: 100%;
    background-color: #0A0A0A;
    z-index: 4;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
