html
{
	height: 100%;
	background-image: linear-gradient(to right, rgb(165, 26, 244), rgb(248, 54, 206));
}
h2{
			text-align: center;
}
img{
	 display: block;
           margin-left: auto;
           margin-right: auto;
           width: auto;
}
body{
	display:grid;
}
.sticky
{
	position: fixed;
	top: 0;
	width: 100%;
}
.content
{
	color:white;
	background-image: linear-gradient(to right, rgb(165, 26, 244), rgb(248, 54, 206));
}

.hi {
	font-size: 25px;
	font-family: fantasy;
	padding: 50px;
	margin:20px;
	}
.anchors
{
	text-decoration: none;
	color:white;
}
.top_section
{
	color: white;
	padding:1rem;
	background-image: linear-gradient(to right, rgb(165, 26, 244), rgb(248, 54, 206));
	text-align: center;
}
.top_inner
{
	background-color: black;
	border-radius: 2rem;
	margin: 1rem;
}
.nav_button
{
	border-radius: 3px;
	display: inline-block;
	padding: 1.5rem;
	margin: 1.5rem;
	color:white;
	background-color: black;
}
.nav_button:hover
{
	background-color: blue;
	color:white;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*-------------------------Fold-Scroll---------------------------------------*/


html, body {
    font-family: Consolas, monospace;
    background: #000;
    padding: 0;
    margin: 0;
}

.quotes {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
    top: 20px;
}

.quotes article {
    border-bottom: 1px dashed #ddd;
    text-align: justify;
    line-height: 1.8;
    background: #000;
    max-width: 100%;
    font-size: 14px;
    padding: 80px 40px;
    margin: 0 auto;
    width: 80%;
    color: #333;
}
