body
{
	height: 100%;
	background-color: #000;}
body{
	display:grid;
}
.h1 {
	display: inline-block;
	font-size: 120px;
	border-bottom: 10px grey dashed;
	text-align: center;
	padding: 20px;
	color: white;
	font-style: italic;
	 font-family: "Times New Roman", Times, serif;
	background-color: #000;
}

.display-4 h1{
	background-color: #001;	
}
.bg1{
	background-color: #000;
	border-bottom : 15px white dotted;
}
.head{

	color: aqua;
	padding-bottom: 20px;
}
.cctext{
	color: violet;
	font-size: 30px;
	padding-bottom: 20px;
}
.cctext2{
	color: violet;
	font-size: 30px
}
img{
	margin-left: 100px;
}
li{
	padding: 10px;
}
	
